@font-face {
  font-family: "glyphicons";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GlyphiconsHalflingsRegular/glyphicons-halflings-regular.eot");
  src: url("../fonts/GlyphiconsHalflingsRegular/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GlyphiconsHalflingsRegular/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/GlyphiconsHalflingsRegular/glyphicons-halflings-regular.ttf") format("truetype"); }

@font-face {
  font-family: "firasans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraSans/FiraSansRegular.eot");
  src: url("../fonts/FiraSans/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSans/FiraSansRegular.ttf") format("truetype"); }
