@import "fonts"
@import "libs"
@import "vars"

body, html
	height: 100%

body
	margin: 0
	font-size: 1em
	font-family: $default-font

.top-line 
	width: 100%
	height: 26px
	background-color: $accent
	position: fixed

.fa-file, .fa-print, .fa-envelope-open, .fa-image
	&::before
		margin-right: 8px
		color: $accent
		font-size: 15px

#content
	height: 100%
	line-height: 2

#left-content
	height: 100%
	width: 40%
	background-color: rgba(#C8C8C6, .15)
	text-align: center
	position: fixed
	margin-top: 26px

.title_name
	text-align: center
	.h1 
		font-size: 40px
		font-weight: 100
		.line-center
			height: 3px
			width: 100px
			background-color: $accent
			border: 0
			position: relative
			left: -13px 	
	p
		position: relative
		left: -5px
		letter-spacing: 5px
		margin: 0 0 5px

.h1
	text-transform: uppercase
	letter-spacing: 8px

#content
	img
		border: 1px solid #C8C8C6
		padding: 0.7em
		margin-top: 17px
		position: relative
		left: -7px

.contact
	width: 50%
	text-align: left
	margin: auto
	letter-spacing: 2px
	padding-top: 24px
	.phone
		font-family: firasans
		font-size: 14.5px
	.fas
		margin-right: 20px


#right-content
	// height: 100%
	width: 60%
	float: right
	margin-top: 26px

.menu
	text-align: center
	li
		display: inline
		a
			transition: color .25s ease
			padding: 10px 10px
			font-size: 1em
			text-decoration: none
			letter-spacing: 1px
			color: #000
			&:hover
				color: #C8C8C6

.menu
	ul
		padding: 0
		margin: 54.6px 0 54.6px 0
	
.h3
	margin: 0 0 20px 0
	padding: 2px 30px 2px 20px
	width: 230px
	font-size: 20px
	font-weight: 100
	text-align: left
	letter-spacing: 1px
	box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.4)
	position: sticky
	top: 26px

.section-details
	margin: 0 20px 0 20px
	padding-bottom: 20px

.company
	.h3
		background-color: $accent

.company
	.section-details
		margin-top: 0
.h4
	margin: 0
	font-size: 17px
	font-weight: 900
	letter-spacing: 1px
	span
		font-size: 15px
		font-weight: 100
		color: #999
		text-transform: uppercase

.h6
	margin: 0
	text-transform: uppercase
	font-weight: 500
	font-size: 11px
	letter-spacing: 2px

p
	margin: 0
	line-height: 1.6

.underlined
	border-bottom: 3px dashed #C8C8C6
	padding-bottom: 33px
	
.skills
	.h3
		background-color: $second

.software-list, .language-list
	padding: 5px 0 
	margin: 0 30px 0 30px
	display: inline-block
	.h4
		padding-left: 22px

.education
	.h3
		background-color: $last